/.venv
/alibaba.zip
/data_Extra1.py
/expanses.csv
/project_1
/project_10
/project_11
/project_2
/project_3
/project_4
/project_5
/project_6
/project_7
/project_9
/tempCodeRunnerFile.py
/trends.csv
/trends_tracker.py